body 
{
    background: #666666;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 300%;
}

.twoColumnHdrFtr #container
{
    width: 780px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #000000;
    text-align: left;
}

.twoColumnHdrFtr #header
{
    background: #dddddd;
    padding: 10px;
}
.twoColumnHdrFtr #header h1
{
    text-align: center;
    margin: 0;
    /* padding: 10px; */
}

.twoColumnHdrFtr #sidebar
{
    float: left;
    width: 180px;
    background: #ebebeb;
    padding: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}
.twoColumnHdrFtr #sidebar h1
{
    font-size: 100%;
}

#nav 
{
    padding:5px 10px;
    /* background:#c99; */
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    font-size: 80%;
}
#nav ul 
{
    margin:0;
    padding:0;
    list-style:none;
}
#nav li 
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.twoColumnHdrFtr #content
{
    float: right;
    width: 560px;
    padding: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.twoColumnHdrFtr #footer
{
    clear: both;
    background: #dddddd;
    padding: 10px;
}

.twoColumnHdrFtr #footer p
{
    padding: 10px;
    margin: 0;
    font-size: x-small;
    color: #900;
    text-align: center;
}
.mytablecss {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.mytablecss table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.mytablecss tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.mytablecss table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.mytablecss table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.mytablecss tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.mytablecss tr:hover td{
	
}
.mytablecss tr:nth-child(odd){ background-color:#ede7e1; }
.mytablecss tr:nth-child(even)    { background-color:#ffffff; }.mytablecss td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.mytablecss tr:last-child td{
	border-width:0px 1px 0px 0px;
}.mytablecss tr td:last-child{
	border-width:0px 0px 1px 0px;
}.mytablecss tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.mytablecss tr:first-child td{
		background:-o-linear-gradient(bottom, #7a420d 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a420d), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #7a420d 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a420d", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#7a420d,bf5f00);

	background-color:#7a420d;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.mytablecss tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7a420d 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a420d), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #7a420d 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a420d", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#7a420d,bf5f00);

	background-color:#7a420d;
}
.mytablecss tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.mytablecss tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}