@model SelectList
@{
    ViewBag.Title = "List Image By User";
}

<h2>@ViewBag.Title</h2>

@{Html.BeginForm("DoListByUser", "Images", FormMethod.Get);}
<fieldset>
    @Html.AntiForgeryToken()
<legend>Choose a user</legend>
    <p>
        User:@Html.DropDownList("Id", Model)
    </p>
    <p><input  type="submit" value="List"/></p>
    
</fieldset>
@ViewBag.Message
@{Html.EndForm();}
